
@*@model Vidly2.Models.Movie*@
@model Vidly2.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@Model.Movie_Name</h2>*@
<h2>@Model.Movie.Movie_Name</h2>

@Model.Customers

